.navbar {
  height: 5vh;
  width: 100vw;
  padding-bottom: 2.5rem;
  background-color: #eeeeee;
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  font-weight: bold;
  font-size: 1.9rem;
  border: 2px solid #dddddd;
  border-radius: 3px;
  color: #333333;
}
.app-Title {
  display: flex;
  margin-left: 1rem;
  align-items: start;
}

/* # for ID attributes & . for class attributes */
#title{
  font-size: 1.75rem;
  margin-left: 2px;
  color: #666666;
  position: relative;
  bottom: 0.2em;
  margin: 0;
}



.add-friend-icon {
  margin-right: 1rem;
  position: relative;
  cursor: pointer;
  bottom: 5px;
  width: 2.7rem;
  border-radius: 50%;
  font-size: 1.5rem;
  text-align: center;
  padding-left:3px;
  background-color: rgb(51, 51, 51);
  color: white;
}

