@media (max-width: 1200px) {
  .Sending {
    margin-left: 75%;
  }
  .tagline{
    width: 40%;
  }
}
@media (max-width: 900px) {
  .Sending {
    margin-left: 65%;
  }
  .tagline{
    width: 50%;
  }
}
@media (max-width: 600px) {
  .Sending {
    margin-left: 35%;
  }
  .tagline{
    width: 60%;
  }
}
@media (max-width: 360px) {
  .Sending {
    margin-left: 27%;
    width: 14rem;
    font-size: medium;
    height: 4.5rem;
    contain: content;
  }

  #userInput{
    width: 70vw;
  }
  #send{
    width: 15vw;
  }
  .tagline{
    width: 70%;
  }
}
