.mainbody{
    height: 100%;
    width: 87vw;
    align-items: center;
}
.messageBody{
    height:87.4vh;
    width: 99.6vw;
    background-image: url('https://png.pngtree.com/background/20220714/original/pngtree-emoji-of-social-media-or-chat-application-network-emoticon-background-picture-image_1607991.jpg');
    background-size: cover;
    border-left: 4px solid #dddddd;
    border-right: 4px solid #dddddd;
    border-radius: 3px;
}
.messageBox{
    position: absolute;
    bottom: 0.30rem;
    height: 50px;
    width:100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: 
    #eeeeee;
    border-top: 0.5px solid #dddddd;
    border:3px solid #dddddd;
    border-radius: 3px;
    margin-top:3rem ;
}
#userInput{
    border: none;
    background-color: #dddddd;
    width:87vw;
    height: 6vh;
    text-align: center;
    font-size: large;
    border-radius: 3px;
}
#send{
    height: 6vh;
    width: 7vw;
    background-color: rgb(60, 181, 60);
    color :white;
    font: 600;
    font-size: large;
    border: none;
    border-radius:3px ;
}

/* sending message designing  */
.Sending{
    position: relative;
    top: 34rem;
    left:83%;
    margin-bottom: 1rem;
    
    height: 4rem;
    width: 16rem;
    background-color: skyblue;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    border-bottom-left-radius: 1rem ;
    align-items: center;
    
}

.hide{
    visibility: hidden; 
}
#name{
    position: relative;
    left:8px;
    color:white;
    font-size: large;
    font-weight: 600;
}
#msgs{
    text-align: center;
    font-size: larger;
    font-weight: lighter;   
}
.msgcontainer{
    position: relative;
    top: -0.1rem;
    height: 100%;
    width: 100%;
    bottom: 1rem;
    overflow-y:scroll;
}
/* ala te username input box kya lidhu che nathi lidhu haji */

.username-setter{
    position: relative;
    top: 0;
}