.navbar{
    height:5vh;
    width: 100vw;
    background-color: #eeeeee;
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    font-weight: bold;
    font-size: 1.9rem;
    border: 2px solid #dddddd;
    border-radius: 3px;
    padding-top: 2px;
    color: #333333;
}
.app-Title{
    display:flex;
    margin-left:1rem;
   
}
#title{
    font-size: 1.75rem;
    margin-left: 2px;
    color: #666666;
}

.setting-icon {
    margin-right: 1rem;
    position: relative;
    cursor: pointer;
}
  
  .dropdown-menu {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: white;
    color: black;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    width: 150px;
  }
  
  .dropdown-menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .dropdown-menu ul li {
    padding: 10px 20px;
    cursor: pointer;
    font-size: large;
  }
  
  .dropdown-menu ul li:hover {
    background-color: #f1f1f1;
  }
  